<nav class="navbar">
  <div class="container">
    <a href="/home" class="navbar-brand">Art.Design</a>
    <div class="navbar-nav">
      <a href="/home">home</a>
      <a href="/post/write">write</a>
      <a href="">blog</a>
      <a href="">about</a>
    </div>
  </div>
</nav>

